.card {
  width: 18rem;
}

.card-title {
  font-size: 1.2rem;
  text-decoration: none;
  color: #526863;
}

.card-title:hover {
  text-decoration: underline;
  color: #647f79;
}

.card-btn {
  background-color: #715c83 !important;
  color: #fff;
}

.card-btn:hover {
  background-color: #8f79a1 !important;
}

.card-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
