@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "@fontsource/nosifer";
@import "@fontsource/alegreya-sans";
@import "@fontsource/alegreya";

$success: #526863;
$info: #715c83;
$black: #242424;
$white: #f5fefd;

$font-normal: "Alegreya Sans";
$font-blog-title: "Alegreya";
$font-fancy: "Nosifer";

/* Global */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-fancy;
}
p,
a {
  font-family: $font-normal;
}

span {
  font-family: $font-blog-title;
}

Nav,
footer {
  .nav-link {
    color: #715c83;
  }

  .nav-link:hover {
    color: #8f79a1;
    text-decoration: underline;
  }
}

.active {
  color: #8f79a1 !important;
}

/* This was used in the blogs as well */
.landing-cards {
  width: 18rem;
}
/* Should be normal-cards */

.card-title {
  font-size: 1.2rem;
  text-decoration: none;
}

.card-title:hover {
  text-decoration: underline;
}

.card-body {
  min-height: 214px;
}

.card-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.spotify {
  max-width: 516px;
  border-radius: 12px;
}

footer {
  border-top: 4px solid #526863;
}

/* Blog Category Pages */
.not-landing-cards {
  width: 25rem;
}

@media (max-width: 432px) {
  .not-landing-cards {
    width: 18rem;
  }
}

/*NEW NEW NEW */
.nav-background {
  background-color: #242424;
}

.header-wrapper,
.site-footer {
  background-color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nosifer";
  color: #526863;
}

p,
a {
  font-family: "Alegreya Sans";
}

span {
  font-family: "Alegreya";
}
